In [3]:
import pandas as pd
import numpy as np

In [5]:
l = np.array(['a', 'b', 'c'])
display(type(l))
display(l)

numpy.ndarray

array(['a', 'b', 'c'], dtype='<U1')

## Panda Series

In [7]:
l = pd.Series(['a', 'b', 'c'])
display(type(l))
display(l)

pandas.core.series.Series

0    a
1    b
2    c
dtype: object

In [8]:
l= [[1,2,3],
   [4,5,6],
   [7,8,9]]
display(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [12]:
l = pd.DataFrame( [[1,2,3],
   [4,5,6],
   [7,8,9]]
)
display(l)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

## How we can create series in Pandas? 
* list
* tuple
* dictionary
* list (for index and for values)

In [13]:
l  = list('ABCDEFGHIJKLMNOPQRSTUVXWYZ')
display(type(l))

list

## Create series from list

In [15]:
l =pd.Series(l)
display(l)

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
16    Q
17    R
18    S
19    T
20    U
21    V
22    X
23    W
24    Y
25    Z
dtype: object